@using TesteAdoNET.Data
@model Usuarios
@{
    ViewBag.Title = "Testes";
}

<h2>Testes</h2>

<div class="w-75">
    <div class="row mb-5">
        <h5>Teste</h5>
        <hr />
    </div>


    <div class="row mb-5 bg-light bg-opacity-50">
        <div class="d-flex justify-content-between p-3">
            <div>
                <h5>Teste</h5>
                <h6>Teste de nível de ansiedade</h6>
            </div>

            <div class="align-self-center">
                <a class="btn btn-primary btn-md" href="/Home/Testes">Realizar Teste</a>
            </div>

        </div>
    </div>
</div>


